<div class="districtcontainer"><center><br><br><br>
<div class="district"><h1><%= @district.district_name %></h1></div>

<div class="fixed-size-container">
  <div class="fixed-size" id="<%= @district.senator_one_party.downcase %>">
<h2>Senator <%= @district.senator_one_name %></h2>    
<h2><img src="<%= @district.senator_one_photo_url %>" alt="Photo of <%= @district.senator_one_name %>" height="225" width="180"></h2>    
<h2><%= @district.senator_one_party %> Party</h2>
<div class="social-links">
<h2><a href="<%= @district.senator_one_website %>" target="_blank" rel="noopener noreferrer"><%= image_tag("homepage_link_white.png", :alt => "homepage", :height => 30, :width => 30) %></a>
<a href="https://www.facebook.com/<%= @district.senator_one_facebook %>" target="_blank" rel="noopener noreferrer"><%= image_tag("facebook_icon_white.png", :alt => "facebook") %></a>
<a href="https://twitter.com/<%= @district.senator_one_twitter %>" target="_blank" rel="noopener noreferrer"><%= image_tag("twitter_icon_white.png", :alt => "twitter") %></a></h2>
</div>
  </div>
  
  
  <div class="fixed-size" id="<%= @district.senator_two_party.downcase %>">
<h2>Senator <%= @district.senator_two_name %></h2>    
<h2><img src="<%= @district.senator_two_photo_url %>" alt="Photo of <%= @district.senator_two_name %>" height="225" width="180"></h2>    
<h2><%= @district.senator_two_party %> Party</h2>
<div class="social-links">
<h2><a href="<%= @district.senator_two_website %>" target="_blank" rel="noopener noreferrer"><%= image_tag("homepage_link_white.png", :alt => "homepage", :height => 30, :width => 30) %></a>
<a href="https://www.facebook.com/<%= @district.senator_two_facebook %>" target="_blank" rel="noopener noreferrer"><%= image_tag("facebook_icon_white.png", :alt => "facebook") %></a>
<a href="https://twitter.com/<%= @district.senator_two_twitter %>" target="_blank" rel="noopener noreferrer"><%= image_tag("twitter_icon_white.png", :alt => "twitter") %></a></h2>
</div>
</div>



  <div class="fixed-size" id="<%= @district.us_rep_party.downcase %>">
<h2>Rep. <%= @district.us_rep_name %></h2>
<h2><img src="<%= @district.us_rep_photo_url %>" alt="Photo of <%= @district.us_rep_name %>" height="225" width="180"></h2>
<h2><%= @district.us_rep_party %> Party</h2>
<div class="social-links">
<h2><a href="<%= @district.us_rep_website %>" target="_blank" rel="noopener noreferrer"><%= image_tag("homepage_link_white.png", :alt => "homepage", :height => 30, :width => 30) %></a>
<a href="https://www.facebook.com/<%= @district.us_rep_facebook %>" target="_blank" rel="noopener noreferrer"><%= image_tag("facebook_icon_white.png", :alt => "facebook") %></a>
<a href="https://twitter.com/<%= @district.us_rep_twitter %>" target="_blank" rel="noopener noreferrer"><%= image_tag("twitter_icon_white.png", :alt => "twitter") %></a></h2>
</div>
</div>

</div>
<div class="bill-header"><h1>Recent Legislation</h1></div>
<div class="bill-container">

<% @bills.each do |bill| %>
    <% text_info = bill.fetch("text_info") %>

	<div class="bill-info">
    <h3><span id="bill-bold"><%= Time.parse(bill.fetch("current_status_date")).strftime("%b %d, %Y") %></span></h3><br>
	<h3><span id="bill-bold">Bill Name:</span> <%= text_info.fetch("bill_name") %></h3><br>
	<h3><span id="bill-bold">Link:</span> <a href="<%= bill.fetch("link") %>" target="_blank" rel="noopener noreferrer"><%= bill.fetch("link") %></a></h3><br>
	<h3><span id="bill-bold">Bill Status:</span> <%= bill.fetch("current_status_label") %></h3>
	</div>
	<br><br><br><br>

<% end %>
</div>


</center>

</div>