<div class="districtcontainer"><center><br><br><br>
<div class="district"><h1><%= @district.district_name %></h1></div>

<div class="fixed-size-container">
  <div class="fixed-size">
<h2>Senator <%= @district.senator_one_name %></h2>    
<h2><img src="<%= @district.senator_one_photo_url %>" alt="Photo of <%= @district.senator_one_name %>" height="225" width="180"></h2>    
<h2><%= @district.senator_one_party %> Party</h2>
<h2><a href="<%= @district.senator_one_website %>">Website</a> </h2>
<h2>Facebook: <%= @district.senator_one_facebook %></h2>
<h2>Twitter: <%= @district.senator_one_twitter %></h2>     
  </div>
  
  
  <div class="fixed-size">
<h2>Senator <%= @district.senator_two_name %></h2>    
<h2><img src="<%= @district.senator_two_photo_url %>" alt="Photo of <%= @district.senator_two_name %>" height="225" width="180"></h2>    
<h2><%= @district.senator_two_party %> Party</h2>
<h2><a href="<%= @district.senator_two_website %>">Website</a> </h2>
<h2>Facebook: <%= @district.senator_two_facebook %></h2>
<h2>Twitter: <%= @district.senator_two_twitter %></h2>
</div>



  <div class="fixed-size">
<h2>Rep. <%= @district.us_rep_name %></h2>
<h2><img src="<%= @district.us_rep_photo_url %>" alt="Photo of <%= @district.us_rep_name %>" height="225" width="180"></h2>
<h2><%= @district.us_rep_party %> Party</h2>
<h2><a href="<%= @district.us_rep_website %>">Website</a </h2>
<h2>Facebook: <%= @district.us_rep_facebook %></h2>
<h2>Twitter: <%= @district.us_rep_twitter %></h2>

</div>

</div>




</center>

</div>